<div *ngIf="cartItems.length === 0" class="empty-cart-message">
  <p>Your Cart is empty go add some products...</p>
</div>
<div *ngIf="cartItems.length > 0" class="page-container">
  <div class="cart-container">
    <div class="cart-item" *ngFor="let cartItem of cartItems">
      <img src="{{ cartItem.image }}" alt="{{ cartItem.name }}" />
      <div class="cart-item-details">
        <h3>{{ cartItem.name }}</h3>
        <p>{{ cartItem.price | currency }}</p>
        <p>
          Amount:
          <input
            class="number-input"
            type="number"
            min="1"
            [defaultValue]="cartItem.quantity"
            [(ngModel)]="cartItem.quantity"
            (change)="getTotalPrice()"
          />
        </p>
        <h3>{{ cartItem.quantity }}</h3>
      </div>
    </div>

    <h2>Total: {{ totalPrice.toFixed(2) | currency }}</h2>
  </div>
  <div class="cart-panel">
    <form action="submit">
      <label for="fullName"> Full name</label>
      <input type="text" placeholder="(minmum 3 characters)" />
      <label for="address"> Adress</label>
      <input type="text" placeholder="(minmum 6 characters)" />
      <label for="creditCardNumber"> Credit card number</label>
      <input type="number" placeholder="(16-digit number)" />
      <h6>we'll never share your payment details with anyone else</h6>
      <button class="btn-submit" type="submit">Submit</button>
    </form>
  </div>
</div>
