<!-- <div class="no-items">
  <p>Your Cart is empty go add some products...</p>
</div> -->
<div class="page-container">
  <div class="cart-container">
    <div class="cart-item">
      <img
        src="https://images.unsplash.com/photo-1544947950-fa07a98d237f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
        alt="book"
      />
      <div class="cart-item-details">
        <h3>Book</h3>
        <p>9.99</p>
        <p>
          Amount:
          <input
            class="number-input"
            type="number"
            min="1"
            [defaultValue]="1"
          />
        </p>
      </div>
    </div>
    <div class="cart-item">
      <img
        src="https://images.unsplash.com/photo-1544947950-fa07a98d237f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
        alt="book"
      />
      <div class="cart-item-details">
        <h3>Book</h3>
        <p>9.99</p>
        <p>
          Amount:
          <input
            class="number-input"
            type="number"
            min="1"
            [defaultValue]="1"
          />
        </p>
      </div>
    </div>
    <div class="cart-item">
      <img
        src="https://images.unsplash.com/photo-1544947950-fa07a98d237f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
        alt="book"
      />
      <div class="cart-item-details">
        <h3>Book</h3>
        <p>9.99</p>
        <p>
          Amount:
          <input
            class="number-input"
            type="number"
            min="1"
            [defaultValue]="1"
          />
        </p>
      </div>
    </div>
    <h2>Total: $1099.99</h2>
  </div>
  <div class="cart-panel">
    <form action="submit">
      <label for="fullName"> Full name</label>
      <input type="text" placeholder="(minmum 3 characters)" />
      <label for="address"> Adress</label>
      <input type="text" placeholder="(minmum 6 characters)" />
      <label for="creditCardNumber"> Credit card number</label>
      <input type="number" placeholder="(16-digit number)" />
      <h6>we'll never share your payment details with anyone else</h6>
      <button class="btn-submit" type="submit">Submit</button>
    </form>
  </div>
</div>
