.header {
  text-align: center;
  background: #33b5e5;
  color: #fff;
  padding: 12px;
}

a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 2px 0 2px;
}

.cartNumber {
  position: relative;
  width: 10px;
  top: -8px;
  left: -8px;
  height: 10px;
  padding: 2px 6px;
  border-radius: 50%;
  background-color: rgb(224, 114, 114);
  color: #fff;
  font-size: smaller;
}
